:root{
 --primary-color: #eb1ccc;
 --secondary-color: #95989a;
 --text-color: #fff;
 --text-secondary:#000;
 --terciary-color: #5d5d5d;

}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}
/*event and form*/
#event-description{
 background: linear-gradient(rgba(168, 168, 168, 0.3), rgba(168, 168, 168, 0.3)), url(../img/hrz-5.jpg);
 background-position: center;
 background-size: cover;
 height: 85vh;
 display: flex;
 justify-content: space-around;
 align-items:center;
 color:var(--text-color);
}
#disclaimer h2,
#disclaimer .event-date{
 color:var(--primary-color);
}